
@model PluginsViewModel
@{
    ViewData["Title"] = "Edit plugins";
}
<style>
    .upload-width{
        width: 100% !important;
    }
    @@media(min-width: 564px){
        .upload-width {
            width: 75% !important;
        }
    }
</style>
<div class=" d-flex justify-content-center ">
    <h1 class="text-white display-5">Плагины сервера @Model.Name</h1>
</div>
@if(Model.Files == null || Model.Files.Count == 0)
{
    <br />
    <div class=" d-flex justify-content-center ">
        <h3 class="text-white">Плагины не обнаружены</h3>
    </div>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped w-100">
            <thead>
                <tr>
                    <th>Название файла</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var file in Model.Files)
                {
                    <tr>
                        <td style="word-break: break-all;">@file</td>
                        <td>
                            <button class="btn btn-danger" onclick="deleteFile('@file')">Удалить</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


<div class="justify-content-center sticky-bottom mb-3 bg-dark">
    <hr />
    <label class="input-group-text bg-dark w-50 mx-auto justify-content-center">Загрузить новый плагин</label>
    <div class="upload-width mt-1 mx-auto input-group">
        <input class="form-control" type="file" accept=".jar" id="fileInput">
        <button class="btn btn-green" id="uploadButton" onclick="uploadFile()">Загрузить</button>
    </div>
    <br />
</div>
<script src="~/js/serverplugins.js?v=1"></script>