@{
    ViewData["Title"] = "Changes";
}
<h1>Изменения</h1>

<p>Открытая бета сайта жастикса</p>

<span id="0.0.4b">
    <a class="link-underline link-underline-opacity-0 text-white" href="#0.0.4b">версия 0.0.4b</a>
    <ul>
        <li>
            Добавлена политика пользования
        </li>
        <li>
            Добавлена верификация почты пользователя
        </li>
        <li>
            Так же добавлено:
            <ul>
                <li>
                    Восстановление пароля по почте
                </li>
                <li>
                    Предупреждение об удалении файлов с облака за 7 дней до удаления
                </li>
            </ul>
        </li>
        <li>
            Исправлено отображение на телефонах на странице файлообмена
        </li>
        <li>
            Vayde нашел баг, где зарегестрированный пользователь не мог скачать файл, даже если им поделились. Исправлен.
        </li>
    </ul>
</span>

<span id="0.0.3b">
    <a class="link-underline link-underline-opacity-0 text-white" href="#0.0.3b">версия 0.0.3b</a>
    <ul>
        <li>
            Полная замена старого файлообмена на новый в формате облака:
            <ul>
                <li>
                    Гигабайт облачного места для каждого пользователя
                </li>
                <li>
                    Файл храниться 60 дней от момента последнего входа в аккаунт
                </li>
                <li>
                    Возможность делиться файлом по ссылке доступа и управление доступом к файлу
                </li>
                <li>
                    Добавлен предпросмотр данных о файле перед скачиванием
                </li>
            </ul>
        </li>
    </ul>
</span>

<span id="0.0.2b">
    <a class="link-underline link-underline-opacity-0 text-white" href="#0.0.2b">версия 0.0.2b</a>
    <ul>
        <li>
            Небольшое обновление визуала для деталей (обводки Tab, обводки текстовых полей)
        </li>
        <li>
            Теперь владелец сервера может скачивать логи своего же сервера
        </li>
        <li>
            Подкапотное обновление:
            <ul>
                <li>
                    Ускорение работы сайта за счет перевода большинства аспектов хранения информации на датабазу
                </li>
                <li>
                    Переход с SQL Server на PostgreSQL
                </li>
            </ul>
        </li>
    </ul>  
</span>

<span id="0.0.1b"><a class="link-underline link-underline-opacity-0 text-white" href="#0.0.1b">версия 0.0.1b</a> <ul><li>открытый бета тест сайта, переход с Эксперементальной ветки на основную и фиксы до релиза</li></ul></span>