@{
    ViewData["Title"] = "Changes";
}
<h1>Изминения</h1>

<p>Открытая бета сайта жастикса</p>


<p>версия 0.0.2b 
    <ul>
        <li>
            Небольшое обновление визуала для деталей (обводки Tab, обводки текстовых полей)
        </li>
        <li>
            Теперь владелец сервера может скачивать логи своего же сервера
        </li>
        <li>
            Подкапотное обновление:
            <ul>
                <li>
                    Ускорение работы сайта за счет перевода всех аспектов хранения информации на датабазу
                </li>
                <li>
                    Переход с MySQL на PostgreSQL
                </li>
            </ul>
        </li>
    </ul>  
</p>

<p>версия 0.0.1b <ul><li>открытый бета тест сайта, переход с Эксперементальной ветки на основную и фиксы до релиза</li></ul></p>