@model ResetPasswordViewModel
@{
	ViewData["Title"] = "Reset password";
}

<div class=" d-flex text-center align-items-center align-content-center justify-content-center flex-column">
    <div class="d-flex justify-content-center">
        <h1 id="username" class="text-white display-4">Сброс пароля</h1>
    </div>

    <div class="d-flex justify-content-center">
        <p>Введите новый пароль и подтвердите его</p>
    </div>

    <form class="d-flex flex-column gap-2" href="/account/resetpassword" method="post">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label class="control-label">Новый пароль</label>
            <input asp-for="NewPassword" type="password" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Подтвердите пароль</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="submit" value="Подтвердить" class="btn btn-green" />
        </div>
    </form>
</div>