@{
	ViewData["Title"] = "Reset password";
}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        setTimeout(() => {
            window.location.href = window.location.origin + '/account/login';
        }, 5000);
    });
</script>

<div class=" d-flex text-center align-items-center align-content-center justify-content-center flex-column">
    <div class="d-flex justify-content-center">
        <h1 id="username" class="text-white display-4">Сброс пароля</h1>
    </div>

    <div class="d-flex justify-content-center flex-column gap-0">
        <p>Письмо со сбросом пароля было отправлено вам на почту</p>
        <u class="text-warning">Проверьте папку спам</u>
    </div>
</div>
