

<h3 class="text-white display-4 text-center">Обменник</h3>
<div class="d-flex flex-wrap align-items-start text-center gap-2">

	<div class="d-flex flex-column align-content-start align-items-start">
		<span>Получить архив с модами этого сервера:</span>
		<a asp-controller="Home" asp-action="Index" class="btn btn-green align-self-center">Скачать</a>
	</div>
</div>